/* TODO: Footer */
.bg-succes{
    background: linear-gradient(119.1deg, rgba(255, 255, 255, 0.05) 17.82%, rgba(255, 255, 255, 0.05) 51.59%, rgba(255, 255, 255, 0.05) 83.62%);
  
    padding: 10px;
    
  }
  
  ion-icon{
    width: 50px;
    height: 25px;
    justify-content: center;
  }
  
  a{
    text-decoration: none;
    color: var(--main-color);
  }
  /* TODO: Fin del Footer */