
      <!-- TODO: Estudios -->
      <h3>Educacion</h3>
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
        Agregar Educacion
    </button>

      <br />

      <div class="card-group margin  ">
        <div class="card p-3    border-star ">
          <img src="../../../../assets/img/UNSAM.jpg" class="card-img-top img-st" alt="..." />
          <div class="card-body ">
            <h5 class="card-title ">
              UNSAM <br />
              (2021-Actualidad)
            </h5>
            <p class="card-text">
              Tecnicatura en redes y programación informatica.
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        <div class="card ">
          <img
            src="../../../../assets/img/argentiaProgramaLogo.png"
            class="card-img-top img-st"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              Argentina Programa <br />
              (2021-Actualidad)
            </h5>
            <p class="card-text">
              Primera Etapa Finalizada. <br />
              (2021)
              <br />
              Segunda Etapa <br />
              en curso. <br />
              (2022)
              <br />
            </p>
            <p class="card-text"><small class="text-muted "></small></p>
          </div>
        </div>
        <div class="card p-3 bg-opacity-10">
          <img src="../../../../assets/img/chilavert.jpg" class="card-img-top img-st" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              Instituto Incorporado San Andrés <br />
              (2018)
            </h5>
            <p class="card-text">Bachillerato en Economia y Administración.</p>
            <p class="card-text"><small class="text-muted"></small></p>



            
          </div>
        </div>
      </div>
      <!-- TODO: Fin de Estudios -->