<!-- TODO: Acerca de -->
<section class="container custom-section">
    <div class="row margin">
      <div
        class=" col-md "
       
      >
        <img src="../../../../assets/img/hasbik.jpg" class="img-fluid img-fluid2 " alt="..." />
      </div>
      <div class="cb col-md">
        <p class=" card-text">
          Hola soy Facundo Phatouros, Frontend developer Jr., estoy dando mis
          primeros pasos dentro del mundo de la programación me considero una
          persona responsable, puntual y ordenado buscando experiencia
          laboral.
        </p>
        <a class="text-decoration-none" target="_blank" href="https://github.com/"
          >
          <i class="fa fa-github ">
             </i> Ver github</a
        >
      </div>
    </div>
  </section>
    <!-- TODO: Fin del Acerca de -->