 <!-- TODO: Mis Proyectos -->
 <h3>Proyectos</h3>
 <div class="cards ">
  
   <div class="card1 ">
     <img src="../../../../assets/img/Spotify8.jpg" class=" card-img-top " alt="..." />
     <div class="con-text">
      <br>
       <h5>
         Clon De Spotify
       </h5>
       <p>
         Recreación de la app Spotify, con reproductor funcional...
       </p>
       <!-- <button type="button" class="btn btn-outline-primary">
        See more
      </button> -->
     </div>
   </div>


   <div class="card1">
    <br>
     <img src="../../../../assets/img/argentiaProgramaLogo.png" class="card-img-top " alt="..." />
     <h5>
       Portfolio de Argentina Programa
     </h5>
     <p>
       Poyecto de Portfolio Fullstack.
       <br>
       (2021-22)
     </p>
     <!-- <button type="button" class="btn btn-outline-primary">
      See more
     </button> -->
   </div>
   <!-- <div class="card1">
     <img src="../../../../assets/img/banner-img.jpg" class="card-img-top " alt="..." />
     <h5>
       Clon De Spotify
     </h5>
     <p>
       Recreación de la app Spotify, con reproductor funcional...
     </p>
     <button type="button" class="btn btn-outline-primary">
      See more
    </button>
   </div> -->
 </div>
 <!-- TODO: Fin de Mis Proyectos -->
